<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wx.mapper.WxAlternativeMapper">
    
    <resultMap type="WxAlternative" id="WxAlternativeResult">
        <result property="traineeId"    column="trainee_id"    />
        <result property="teacherId"    column="teacher_id"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectWxAlternativeVo">
        select trainee_id, teacher_id, status, create_time from wx_alternative
    </sql>

    <select id="selectWxAlternativeList" parameterType="WxAlternative" resultMap="WxAlternativeResult">
        <include refid="selectWxAlternativeVo"/>
        <where>  
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectWxAlternativeById" parameterType="Long" resultMap="WxAlternativeResult">
        <include refid="selectWxAlternativeVo"/>
        where trainee_id = #{traineeId}
    </select>
        
    <insert id="insertWxAlternative" parameterType="WxAlternative">
        insert into wx_alternative
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="traineeId != null">trainee_id,</if>
            <if test="teacherId != null">teacher_id,</if>
            <if test="status != null">status,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="traineeId != null">#{traineeId},</if>
            <if test="teacherId != null">#{teacherId},</if>
            <if test="status != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateWxAlternative" parameterType="WxAlternative">
        update wx_alternative
        <trim prefix="SET" suffixOverrides=",">
            <if test="teacherId != null">teacher_id = #{teacherId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where trainee_id = #{traineeId} and teacher_id = #{teacherId}
    </update>

    <delete id="deleteWxAlternativeById" parameterType="WxAlternative">
        delete from wx_alternative where trainee_id = #{traineeId} and teacher_id = #{teacherId}
    </delete>

    <delete id="deleteWxAlternativeByIds" parameterType="String">
        delete from wx_alternative where trainee_id in 
        <foreach item="traineeId" collection="array" open="(" separator="," close=")">
            #{traineeId}
        </foreach>
    </delete>
</mapper>