<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wx.mapper.WxAreaMapper">
    
    <resultMap type="WxArea" id="WxAreaResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="srot"    column="srot"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectWxAreaVo">
        select id, name, srot, create_by, create_time from wx_area
    </sql>

    <select id="selectWxAreaList" parameterType="WxArea" resultMap="WxAreaResult">
        <include refid="selectWxAreaVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="srot != null "> and srot = #{srot}</if>
        </where>
    </select>
    
    <select id="selectWxAreaById" parameterType="Long" resultMap="WxAreaResult">
        <include refid="selectWxAreaVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertWxArea" parameterType="WxArea" useGeneratedKeys="true" keyProperty="id">
        insert into wx_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="srot != null">srot,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="srot != null">#{srot},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateWxArea" parameterType="WxArea">
        update wx_area
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="srot != null">srot = #{srot},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWxAreaById" parameterType="Long">
        delete from wx_area where id = #{id}
    </delete>

    <delete id="deleteWxAreaByIds" parameterType="String">
        delete from wx_area where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>